*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 70vh;
}

main h1{
    text-align: center;
    margin: 10px;
    margin-bottom: 15px
}

#botones div{
    display: flex;
    justify-content: space-around;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding: 4px;
}

#botones div button{
    background-color: #5b5ba8;
    color: black;
    width: 100px;
}



i{
    font-size: 2rem;
    padding-top: 5px;
}

#Carrito{
    margin: 5px;
    display: flex;
    justify-content: right;
}

#contenedorCarrito .icono{
    display: flex;
    flex-direction: column;
    background-color:#ADADF3;
    padding: 5px;
    border-radius: 60px;
}
#contenedorCarrito .icono span{
    position: absolute;
    right: 0;
    padding-right: 10px;
}



#mostrarcart{
    border: 2px black solid;
    display: none;
    right: 0;
    margin: 5px;
    padding: 10px;
    position: absolute;
    background-color: #ADADF3;
}

#items-carrito li{
    list-style: none;
}

#productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

#productos .contenedor{
    width: 200px;
    height: 350px;
    border: 5px solid #5b5ba8;
    background-color: #ADADF3;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

#productos .contenedor h3{
    font-size: 1.7rem;
    padding: 0vh;
}

#productos .contenedor img{
    width: 100%;
    height: 20vh;
}

#Formulario #btnForm{
    margin-left: 20px;
}

#Formulario .contForm{
    display: flex;
    flex-direction: row;
}

#Formulario .contForm .parte1{
    margin: 20px;
    width: 50%;
}
#Formulario .contForm .parte2{
    margin: 20px;
    width: 50%;
}

#Formulario .contForm .parte2 .input-group textarea{
    height: 152px;
}


@media screen and (max-width:750px) {
    #Formulario .contForm{
        flex-direction: column;
        align-items: center;
    }

    #Formulario .contForm .parte1{
        width: 70%;
    }
    #Formulario .contForm .parte2{
        width: 70%;
    }

    #Formulario #btnForm{
        display: inline;
        display: flex;
        justify-content: center;
    }
}