*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100%;
    background: rgb(195,34,181);
background: linear-gradient(180deg, rgba(195,34,181,1) 0%, rgba(126,31,177,1) 100%);
}

header{
    background: rgb(195,34,181);
    background: linear-gradient(0deg, rgba(195,34,181,1) 0%, rgba(126,31,177,1) 100%);
}

header img{
    width: 150px;
    height: 150px;
}

.divh1 h1{
    text-align: center;
    height: 15vh;
    position: relative;
    top: 20px;
    text-shadow: 7px 7px 4px rgba(0,0,0,0.8);
    color: white;
}

#botones div{
    display: flex;
    justify-content: space-around;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding: 4px;
}

#botones div button{
    background-color: #5b5ba8;
    color: black;
    width: 100px;
}



i{
    font-size: 2rem;
    padding-top: 5px;
}

#Carrito{
    margin: 5px;
    display: flex;
    justify-content: right;
}

#contenedorCarrito .icono{
    display: flex;
    flex-direction: column;
    background-color:#ADADF3;
    padding: 5px;
    border-radius: 60px;
}
#contenedorCarrito .icono span{
    position: absolute;
    right: 0;
    padding-right: 10px;
}



#mostrarcart{
    border: 2px black solid;
    display: none;
    right: 0;
    margin: 5px;
    padding: 10px;
    position: absolute;
    background-color: #ADADF3;
}

#mostrarcart h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

#items-carrito li{
    list-style: none;
    margin-top: 5px;
}

#items-carrito li .btn-danger{
    width: 35px;
    height: 35px;
}

#mostrarcart p{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
}

#productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

#productos .contenedor{
    width: 200px;
    height: 350px;
    border: 5px solid #5b5ba8;
    background-color: #ADADF3;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    transition: 0.7s;
}

#productos .contenedor:hover{
    -webkit-box-shadow: 12px 7px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 7px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 12px 7px 20px -4px rgba(0,0,0,0.75);
}

#productos .contenedor h3{
    font-size: 1.7rem;
    padding: 0vh;
}

#productos .contenedor img{
    width: 100%;
    height: 20vh;
}

#productos .contenedor p{
    font-size: 1rem;
    font-weight: bold
}

#Formulario #btnForm{
    margin-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#Formulario .contForm{
    display: flex;
    flex-direction: row;
}

#Formulario .contForm .parte1{
    margin-right: 20px;
    margin-left: 20px;
    width: 50%;
}
#Formulario .contForm .parte2{
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}

#Formulario .contForm .parte2 .input-group textarea{
    height: 152px;
}



@media screen and (max-width:750px) {
    #Formulario .contForm{
        flex-direction: column;
        align-items: center;
    }

    #Formulario .contForm .parte1{
        width: 70%;
    }
    #Formulario .contForm .parte2{
        width: 70%;
    }

    #Formulario #btnForm{
        display: inline;
        display: flex;
        justify-content: center;
    }
}